@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.hero{
    /* border: 1px solid red; */
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    padding: 2em 1.5em;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar__links{
    display: none;
}
.navbar > img{
    width: 1.5em;
    user-select: none;
    pointer-events: none;
    height: 1.3em;
    object-fit: contain;
    cursor: pointer;
}
.navbar__logo img{
    object-fit: contain;
    width: calc(100% - 8vw);
}
/* mobile menu */
.navbar__links.mobile{
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    min-height: 100vh;
    overflow-y: auto;
    padding: 2em;
    /* display: flex; */
    gap: 9em;
    align-items: flex-start;
    transition: 1s;
    display: none;
}
.navbar__links.mobile header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar__links.mobile header img:first-child{
    height: 1.3em;
    width: 40%;
}
.navbar__links.mobile header img:last-child{
    height: 1.3em;
    width: 1.3em;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
}
.navbar__links.mobile a{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    display: block;
    margin: 1em 0;
}
/* mobile menu end */
.hero__focus{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #FFF;
    text-transform: uppercase;
    border: .07em solid #FFF;
    padding: .5em;
    margin-top: 3em;
    margin-bottom: 5em;
    max-width: calc(360px + 5vw);
}

main{
    padding: 2em 1.5em;
}
main h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.about, .portfolio{
    text-align: center;
    padding: 2em 0;
}
.about__text p{
    font-size: 15px;
    color: hsl(0, 0%, 55%);
}
.portfolio__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio__header > a{
    display: none;
}
.portfolio__grid{
    display: grid;
    gap: 1em;
}
.portfolio__card{
    position: relative;
    cursor: pointer;
}
.portfolio__card:hover{
    opacity: .7;
}
.portfolio__card > p{
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #FFF;
    margin: 1em;
    font-size: 1.3rem;
}
.portfolio a{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .2em;
    color: #000;
    border: .07em solid black;
    padding: .3em 1.5em;
    text-transform: uppercase;
    max-width: 10em;
    margin: 0 auto;
}
.footer{
    background: #000;
    color: #FFF;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.footer__left{
    display: flex;
    flex-direction: column;
    justify-content: column;
    gap: 2em;
    align-items: center;
}
.footer__left img{
    object-fit: contain;
    width: calc(100% - 4vw);
}
.navbar__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: .5em;
    margin: 0;
    padding: 0;
}
.navbar__links a{
    text-decoration: none;
    color: #FFF;
    /* pointer-events: none; */
}
.navbar__links a:hover{
    text-decoration: underline;
}

.footer__right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__socials{
    display: flex;
    gap: 1em;
}
.footer__socials > img{
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
}
.footer__right > p{
    color: hsl(0, 0%, 55%);
}

@media(min-width: 1000px){
    .hero{
        background-image: url(./images/desktop/image-hero.jpg);
        padding: 2em 5em;

    }
    .navbar > img{
        display: none;
    }
    .navbar .navbar__links{
        display: inline-block;
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }
    .navbar .navbar__links a{
        font-size: .85rem;
    }
    main{
        max-width: 1100px;
        margin: 0 auto;
    }
    .about{
        position: relative;
        text-align: left;
        padding: 3em 5em;
    }
    .about img{
        width: 60%;
    }
    .about__text{
        position: absolute;
        background: #FFF;
        max-width: 500px;
        bottom: 0;
        right: calc(1em + 3vw);
        padding: 2em 5em;
    }
    .about__text h2{
        font-size: 2.2rem;
        margin-top: .5em;
    }
    .portfolio{
        text-align: left;
        padding: 3em 5em;
    }
    .portfolio__header > h2{
        font-size: 2.2rem;
    }
    .portfolio__header > a{
        display: inline-block;
        margin: 0;
    }
    .portfolio__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .portfolio__grid > a{
        display: none;
    }
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .navbar__links{
        flex-direction: row;
        gap: 1.5em;
    }
    .footer__left{
        align-items: flex-start;
        gap: 1em;
    }
    .footer__left img{
        object-fit: contain;
        width: calc(100% - 12vw);
    }
    .footer__left a{
        font-size: .85rem;
        color: hsl(0, 0%, 100%);
    }
    .footer__right{
        align-items: flex-end;
    }
}